<%- include('../layout/header.ejs', {title: author, user: user})%>

<h1><%= author %></h1>
<hr>
<ol>
    <%for(note of notes){%>
        <li>
            <div>
                <h3><%= note.title %></h3>
            </div>
            <p><%= note.body %></p>
            <div>
                <%for(category of note.categories){%>
                    <a href="/search?text=&categories=<%= category %>"><%= category %></a>
                <%}%>
            </div>
            <% if(user.username == note.author){ %>
                <a href="/edit/<%= note.id %>">Edit</a>
                <a href="/delete/<%= note.id %>">Delete</a>
            <% }else { %>
                <b>Author: <%= note.author %></b>
            <% }%>
        </li>
    <%}%>
</ol>
<%-include ../layout/footer.ejs%>